body{
    background-color: black;
    margin: 0px;
}

body section:nth-child(1),
body section:nth-child(2),
body section:nth-child(3),
body section:nth-child(4){
    display: grid;
}

body section:nth-child(1){
    grid-row-gap: 15px;
    grid-template-columns: 6.65% 11.65% 26.65% 31.65% 11.65% 11.65%;
    grid-template-rows: 32vh;
}

body section:nth-child(2){
    grid-template-columns: 6.65% 11.65% 26.65% 10.825% 20.825% 11.65% 11.65%;
    grid-template-rows: 34vh;
}

body section:nth-child(3){
    grid-template-columns: 6.65% 11.65% 37.475% 20.825% 11.65% 11.65%;
    grid-template-rows: 18vh;
}

body section:nth-child(4){
    grid-template-columns: 6.65% 11.65% 37.425% 32.525% 11.65%;
    grid-template-rows: 16vh; 
}

.amarelo{
    background-color: #ffff00;
}

.azul{
    background-color: #0000fe;
}

.branco{
    background-color: white;
}

.vermelho{
    background-color: #f10d0c;
}

.branco, .amarelo, .azul, .vermelho{
    border: solid black 7.5px;
}
