body{
    margin: 0px;
    background-color: black;
}

.grid{
    display: grid;
}

.grid-template-columns-1{
    grid-template-columns: 6.65% 11.65% 26.65% 31.65% 11.65% 11.65%;
    grid-template-rows: 32vh;
    grid-row-gap: 15px;
}

.grid-template-columns-2{
    grid-template-columns: 6.65% 11.65% 26.65% 10.825% 20.825% 11.65% 11.65%;
    grid-template-rows: 34vh;
}

.grid-template-columns-3{
    grid-template-columns: 6.65% 11.65% 37.475% 20.825% 11.65% 11.65%;
    grid-template-rows: 18vh;
}

.grid-template-columns-4{
    grid-template-columns: 6.65% 11.65% 37.425% 32.525% 11.65%;
    grid-template-rows: 16vh; 
}

.amarelo{
    background-color: #ffff00;
}

.azul{
    background-color: #0000fe;
}

.branco{
    background-color: white;
}

.vermelho{
    background-color: #f10d0c;
}

.branco, .amarelo, .azul, .vermelho{
    border: solid black 7.5px;
}